<html>
	<head>
        <script type="text/javascript">

            function returnToOpener(){
                console.log("posting message to opener")
                obj = new Object()
                obj.sessionKey = "{{ sessionKey }}"
                obj.userId = "{{ userId }}"
                obj.mode = "{{ mode }}"
                obj.broker = "{{ broker }}"
                obj.loginMessage = "{{ loginMessage }}"
                obj.error = "{{ error }}"
                window.opener.postMessage(obj,"http://127.0.0.1:5000")
                console.log("message posted to opener")
            }
            setTimeout(returnToOpener, 5000)
        </script>

    </head>
    <body>
        <span style="font-size: 250%;">Redirecting back to main webapp...</span>
    </body>
</html>