<html>
	<head>
        <script type="text/javascript">

            function returnToOpener(){
                console.log("posting message to opener")
                loginResponse = new Object()
                loginResponse.sessionKey = "{{ sessionKey }}"
                loginResponse.userId = "{{ userId }}"
                loginResponse.mode = "{{ mode }}"
                loginResponse.broker = "{{ broker }}"
                loginResponse.loginMessage = "{{ loginMessage }}"
                loginResponse.error = "{{ error }}"
                window.opener.postMessage(loginResponse,"*")
                console.log("message posted to opener")
            }
            setTimeout(returnToOpener, 5000)
        </script>

    </head>
    <body>
        <span style="font-size: 250%;">Redirecting back to main webapp...</span>
    </body>
</html>